Flask==1.1.2
gunicorn==20.1.0
json5==0.9.5
jupyter==1.0.0
mypy-extensions==0.4.3
pathspec==0.7.0
pipreqs==0.4.11
pkginfo==1.7.0
scikit-learn==1.0.1
unicodecsv==0.14.1
webencodings==0.5.1
win-unicode-console==0.5
